header {
    height: fit-content;
}

section {
    margin: 0em;
    min-height: fit-content;
}

#whatwedo {
    margin: 3em;
    margin-bottom: 6em;
    height: 100%;
    color: white;
}

#whatwedo > h1 {
    margin: 3em 0em 0.5em 0em;
    font-size: 3em;
}

#carouselAutoplaying1 > h2 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    margin-left: 10px;
}

#stories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#col {
    width: 300px;
}

.carousel-item {
    height: auto;
}

.carousel-item > img {
    width: 240px;
    border-radius: 10px;
}

.movimiento-portfolio{
    background-color: #FFC857;
    width: 100%;
    display: flex;
    text-align: center;
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#galeria {
    margin: 3em;
    width: 100%;
}

#galeria .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#galeria .col1 {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.project {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.project img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.img-hover-zoom {
    border-radius: 20px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.project:hover .overlay {
    width: 40%;
    
}

.gato {
    white-space: nowrap; 
    position: absolute;
    overflow: hidden;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

.description {
    padding: 0.5em 0 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.description > h3 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.5em;
    text-align: left;
}

.description > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    text-align: left;
}

h3.pur {
    color: #D59FFF;
}

h3.blu {
    color: #83FEE0;
}

h3.yel {
    color: #FFC857;
}

h3.cor {
    color: #E56B70;
}

h3.red {
    color: #89023E;
}

.project > a {
    text-decoration: none;
}

button.btn.btn-primary {
    font-size: 2em;
    padding: 0.5em;
    margin-bottom: 2em;
    border-radius: 20px;
    border: none;
    background-color: #D59FFF;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.vermas {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vermas > img {
    width: 60%;
    height: auto;
}

.vermas > h3 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 1400px) {

    #galeria .col1 {
        width: 30%;
    }
}

@media only screen and (max-width: 1000px) {

    .description > h3 {
        font-size: 1.5em;
    }
    .description > p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {

    #whatwedo {
        display: none;
    }

    #portfolio {
        margin-top: 102px;
    }
}

@media only screen and (max-width: 800px) {

    #portfolio {
        display: block;
        width: 80%;
    }

    #galeria .row {
        flex-direction: column;
    }

    #galeria .col1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project {
        width: fit-content;
    }

    .movimiento-portfolio {
        width: 100vw;
    }

    .description {
        max-width: 400px;
    }

    button.btn.btn-primary {
        top: 50%;
        left: 50%;
        position: relative;
    }

    #collapse {
        left: 10%;
        position: relative;
    }

    .vermas > h3 {
        font-size: 1.5em;
    }


}

@media only screen and (max-width: 800px) {

    #galeria .col1 {
        width: 90%;
    }

    button.btn.btn-primary {
        left: 35%;
    }

    .vermas > img {
        width: 120%;
    }

}


