h1 {
    margin: 2em 0;
    font-family:'Merriweather', serif;
    font-size: 4em;
    color: #FFFFFF;
}

body {
    background-color: #89023E ;
}

header {
    height: 10vh;
    margin: 1em;
}
header a{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1em;
    text-decoration: none;
    margin-top: 2em;
}
header a:hover{
    color:#E56B70;
    transition: .3;
}
.movimiento-proyecto{
    background-color: #E56B70;
    width: 100%;
    display: flex;
    text-align: center;
    
}
.texto{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 3em;
}
img{
    margin:2em 0;
}
.cubiertas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portadas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portadas div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.portadas img {
    padding: 0 2em;
    width: 100%;
    height: auto;
}

.diez_negritos{
    position: relative;
}
.diez_negritos .abierto{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: .5s;
}
.diez_negritos:hover .abierto{
    opacity: 1;
}
.muerte_enel_nilo{
    position: relative;
}
.muerte_enel_nilo .abierto{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: .5s;
}
.muerte_enel_nilo:hover .abierto{
    opacity: 1;
}
.asesinato_enel_orient{
    position: relative;
}
.asesinato_enel_orient .abierto{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: .5s;
}
.asesinato_enel_orient:hover .abierto{
    opacity: 1;
}
.explicacion{
    font-family: 'Roboto Condensed', sans-serif;
    color:#FFFFFF;
    font-size: 1.5em;
    margin:2em 10em;
}
