/* Tipografías
font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif; */

/* colores
negro: #222222 
blanco: #FFFFFF
azul: #83FEE0
morado: #D59FFF 
*/

h1 {
    margin: 2em 0;
    font-family:'Merriweather', serif;
    font-size: 4em;
    color: #FFFFFF;
}

body {
    background-color: #222222 ;
}

header {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    background-color: #FFFFFF;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand > img {
    height: 3em;
    width: 100%;
}

.navbar-nav {
    --bs-nav-link-hover-color: #D59FFF;
    align-items: flex-end;
}

#navbarNavAltMarkup {
    font-size: 2em;
}

.navbar-toggler {
    border: none;
    --bs-navbar-toggler-hover-border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

#carouselAutoplaying {
    height: calc(100vh - 102px);
    padding-top: 102px;
}

.bd-placeholder-img{
    height: calc(100vh - 102px);
    width: 100%;
}

section{
    min-height: 100vh;
    margin: 1em 3em;
}

.movimiento-aboutus{
    background-color: #83FEE0;
    width: 100%;
    display: flex;
    text-align: center;
}
.ourstudio{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 3em; 
    display: flex;
    text-align: center;
    padding: 2em ;
}
.texto{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 3em;
}
#aboutus h2{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
}
section >h2 {
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
}
section > p{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
    margin-top: 1em;
}
.movimiento-contactus{
    background-color: #D59FFF ;
    width: 100%;
    display: flex;
    text-align: center;
}



#footer {
    height: 30vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#footer > img {
    height: 10vh;
}

.socials{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.socials > a > i {
    font-size: 2em;
    color: #222222;
}

.socials > a > i:hover {
    color: #D59FFF;
}