/* Tipografías
font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif; */

/* colores
negro: #222222 
blanco: #FFFFFF
azul: #83FEE0
morado: #D59FFF 
*/

h1 {
    margin: 2em;
    font-family:'Merriweather', serif;
    font-size: 4em;
    color: #FFFFFF;
}

body {
    background-color: #222222 ;
}

header {
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
    background-color: #FFFFFF;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand > img {
    height: 3em;
    width: 100%;
}

.navbar-nav {
    --bs-nav-link-hover-color: #D59FFF;
    align-items: flex-end;
}

#navbarNavAltMarkup {
    font-size: 2em;
}

.navbar-toggler {
    border: none;
    --bs-navbar-toggler-hover-border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

#carouselAutoplaying {
    height: calc(100vh - 102px);
    padding-top: 102px;
}

.carousel-item {
    height: calc(100vh - 102px);
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

section{
    min-height: 100vh;
    margin: 1em 0;
}

.movimiento-aboutus{
    background-color: #83FEE0;
    width: 100%;
    display: flex;
    text-align: center;
}
.ourstudio{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 3em; 
    display: flex;
    text-align: center;
    padding: 2em ;
}
.texto{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 3em;
}
#aboutus h2{
    color: #83FEE0;
    font-family:'Merriweather', serif;
    font-size: 3em;
}
.equipo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.us{
    display: flex;
    flex-direction: row;
}
.us img{

    padding: 2em 3em;
    width: 90%;
    height: auto;
}
.us h3{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 2em;
    padding: 1em 3em;
}
.us p{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
    padding-left: 3em;

}
section >h2 {
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
}
section > p{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 1.5em;
    margin-top: 1em;
}

.movimiento-contactus{
    background-color: #D59FFF ;
    width: 100%;
    display: flex;
    text-align: center;
}
.contact{
    color: #FFFFFF;
    font-family:'Merriweather', serif;
    font-size: 2em; 
    display: flex;
    text-align: center;
    margin: 2em ;
}
.formulario{
    margin: 3em;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #D59FFF;
    font-family:'Merriweather', serif;
    width: fit-content;
    border-radius: 1%;
    padding: 2em;
    
  }
.escribenos{
    font-family:'Merriweather', serif;
    color: #542c73;
    font-size: 2em;
}
 .nombre, .email, .why{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    color: #542c73;
 }
.boton{
   background-color: #542c73;
   color: #D59FFF;
}
.boton:hover{
    background-color: #D59FFF;
   color: #542c73;
   transition: .2s;
   
}

#footer {
    height: 30vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#footer > img {
    height: 10vh;
}

.socials{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.socials > a > i {
    font-size: 2em;
    color: #222222;
}

.socials > a > i:hover {
    color: #D59FFF;
}